<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
      <mat-toolbar fxLayoutAlign="center center" colour="primary">Login to Shra System</mat-toolbar>
        <form [formGroup]="service.form" fxLayoutAlign="center center" fxLayout = "column" >
            <mat-form-field >
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" >
              <mat-error> Enter a valid Email Id </mat-error>
            </mat-form-field>
          
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" >
              </mat-form-field>
              <button mat-raised-button align="right" color="accent"  type="log In">Login </button>
           
          </form>
           
    </mat-card>
    
</div>
